*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: font;
   src: url(/TrimPoster-Slim.woff2)
  }

body{
    font-size: 10px;
    background-color: blanchedalmond;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
}

.container{
    background: white;
    box-shadow: 1px 2px 3px grey;
    border-radius: 1px;
    width: 450px;
    height: 175px;
    text-align: center;
}

.watch{
    height: 100%;
}


h6{
    font-size: .75rem;
    margin-bottom: 1rem;
    color: rgb(119, 63, 119);
}
p{
    background-color: blanchedalmond;
    padding: 2rem;
    box-shadow: 1px 2px 3px black;
    font-size: 2rem;
    color: rgb(11, 179, 165);
    font-family: font;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar{
    width: 100%;
    height: 4px;
    background: rgba(59, 59, 59, 0.212);
}

.progress{
    background: rgb(11, 179, 165);
    width: 00%;
    height: 4px;
}